
.DS_Store
Thumbs.db


.idea/
.vscode/
*.iml


.env
*.env
config/*.yaml
!config/default.yaml  # Исключение для стандартного конфигурационного файла


bin/
build/
tmp/
*.lock
*.pid


coverage.out
*.test
*.log

protos/gen/**/*.pb.go
protos/gen/**/*.grpc.pb.go
storage/*
tests/migrations/*